<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">  
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" href="../../../stylesheets/app.css">
        <title>Wanderlust</title>
    </head>
    <body> 
        <header>
            <h1>Wanderlust</h1>
        </header>
        <main role="main">

            <article class="wanderlust-post">
                <div class="user-info">
                    <img src="/images/planeicon1.png" alt="plane-icon1">
                    <h2>atlas_1</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="/images/post1-santorini.jpeg" alt="wanderlust post from atlas_1">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            atlas_1: Beautiful Santorini!
                        </p>
                    </li>
                </ul>
            </article>

            <article class="wanderlust-post">
                <div class="user-info">
                    <img src="/images/icon2.png" alt="travel_lover">
                    <h2>travel_lover</h2>
                    <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="/images/post1_bali.jpeg" alt="wanderlust post from travel_lover">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            travel_lover: #goodvibesonly in Bali!
                        </p>
                    </li>
                </ul>
            </article>

            <article class="wanderlust-post">
                <div class="user-info">
                    <img src="/images/travelicon3.jpg" alt="best_vacations">
                    <h2>best_vacations</h2>
                    <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="/images/thailandpost3.jpeg" alt="wanderlust post from best_vacations">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            best_vacations: Thailand!
                        </p>
                    </li>
                </ul>
            </article>
        
        </main>
    </body>
</html>