<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" text="text/css" href="../../../stylesheets/normalize.css">  
        <link rel="stylesheet" text="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Raleway:wght@200&display=swap" >
        <link rel="stylesheet" text="text/css" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" text="text/css" href="../../../stylesheets/app.css">
        <title>Travelgram</title>
    </head>
    <body> 
        <header>
            <h1 class= "appname">Travelgram</h1>
        </header>    
        <main role="main">
            <%= yield %>
        </main>
    </body>
</html>